.modal-header
  %h1 Compare Websites
.content
  = simple_form_for :compare_websites, url: { action: "compare_websites_update" }, method: :post do |f|
    = f.input :web_page_link_1
    = f.input :web_page_link_2
    = f.submit 'Compare', class: 'btn btn-primary'

  %br
  = params[:output] if params[:output].present?